.list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1;
	row-gap: 2rem;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.4);
	max-width: 30rem;
	min-width: min-content;
	border-radius: 1rem;
}

.card:hover {
	transform: scale(1.1);
	box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
	transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}

.card-avatar {
	border-radius: 100%;
	width: 10rem;
	height: 10rem;
}
